<div class="row">
  <div class="col-md-12">
    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-success" role="alert"><%=msg%></div>
    <% }) %>

    <h2>Admin - Principal</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Activo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <% clientes.forEach( cliente => { %>
        <tr>
          <td><%=cliente.id%></td>
          <td><%=cliente.nombre%></td>
          <td><%=cliente.email%></td>
          <td><%=cliente.activo ? "Si" : "No"%></td>
          <td>
            <% if (cliente.activo) { %>
            <a
              href="/admin/desactivar-cliente/<%=cliente.id%>"
              class="btn btn-info"
              >Desactivar Cliente</a
            >
            <% } else { %>
            <a
              href="/admin/activar-cliente/<%=cliente.id%>"
              class="btn btn-primary"
              >activar Cliente</a
            >
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <a href="/admin/agregar-cliente" class="btn btn-primary">Agregar cliente</a>
  </div>
</div>
